@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #16313a;
  /* Xeoris Blue Text */
}

body {
  color: var(--foreground);
  background: var(--background);
}